.hold {
    height: 20px;
    width: 20px;
  border: 1px solid;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


.hold:hover {
  border: 2px solid white;
  height: 20px;
  box-shadow: 0px 2px 5px 1px #C45AEC;
}

.hold:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 3px 0px;
}
